/* ========================================= */
/* OPCION 1 - CARRUSEL ECOMMERCE */
/* ========================================= */

.category_carousel_card{
    display:block;
    text-align:center;
    text-decoration:none;
}

.category_circle{
    width:130px;
    height:130px;
    margin:auto;
    border-radius:50%;
    overflow:hidden;
    background:#fff;
    border:1px solid #eee;
    transition:.3s;
}

.category_circle img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.4s;
}

.category_carousel_card:hover .category_circle{
    transform:translateY(-6px);
    box-shadow:0 15px 30px rgba(0,0,0,.08);
}

.category_carousel_card:hover img{
    transform:scale(1.08);
}

.category_carousel_card h5{
    margin-top:15px;
    font-size:15px;
    font-weight:600;
    color:#222;
}

/* ========================================= */
/* OPCION 2 - GRID CORPORATIVO */
/* ========================================= */

.category_grid_card{
    display:block;
    background: #222222;
    border-radius:18px;
    overflow:hidden;
    text-decoration:none;
    border:1px solid #eee;
    transition:.3s;
    height:100%;
}

.category_grid_card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.08);
}

.category_grid_image{
    width:100%;
    height:260px;
    overflow:hidden;
}

.category_grid_image img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.5s;
}

.category_grid_card:hover img{
    transform:scale(1.08);
}

.category_grid_content{
    padding:20px;
    text-align:center;
    background: var(--color-secundario);
}

.category_grid_content h5{
    margin:0;
    font-size:18px;
    font-weight:700;
    color: #fff;
}

@media(max-width:768px){

    .category_circle{
        width:100px;
        height:100px;
    }

    .category_grid_image{
        height:180px;
    }

    .category_grid_content h5{
        font-size:16px;
    }

}